@inject IPersonDataService PersonDataService

<div class="row form-group">
    <div class="col-md-12">
        <label for="Photo">@Localization.Foto</label>
    </div>

    @if (Person.Photos.Count() > 1)
    {
        <div class="col-md-12">
            <button id="SetMainPhoto" class="btn btn-light btn-edges sideslide" type="button">
                <span class="fas fa-star"></span>
                <span>@Localization.BtnSetPrimary</span>
            </button>
        </div>
    }
    <div class="col-md-12 photo">
        <div id="PhotosCarousel" class="carousel shadow slide" data-ride="carousel" data-interval="false">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                @if (!Person.Photos.Any())
                {
                    <div class="item active" value="">
                        <img src="images/no-image-available.jpg" alt="No image avaible" class="photo" />
                    </div>
                }

                @for (int i = 0; i < Person.Photos.Count(); i++)
                {
                    var file = Person.Photos.ElementAt(i);

                    if (Person.MainPhoto.FileContentId == file.FileContentId)
                    {
                        <div class="carousel-item active" value="@file.Id">
                            <img src="@file.GetBase64String" alt="@file.FileContent.Name" class="photo">
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item" value="@file.Id">
                            <img src="@file.GetBase64String" alt="@file.FileContent.Name" class="photo">
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-md-12 d-inline-flex">
        @if (Person.Photos.Count() > 1)
        {
            <!-- Left and right controls -->
            <a class="custom-carousel-control btn btn-dark btn-edges" href="#PhotosCarousel" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
                <span>@Localization.Previous</span>
            </a>
            <a class="custom-carousel-control btn btn-dark btn-edges" href="#PhotosCarousel" data-slide="next">
                <span>@Localization.Next</span>
                <span class="carousel-control-next-icon"></span>
            </a>
        }
    </div>
    <div class="col-md-12">
        <InputFile></InputFile>
        <label for="UploadPicture" class="btn btn-primary btn-edges sideslide">
            <span class="fas fa-file-upload"></span>
            <span class="toggle-text">@Localization.BtnLoadPhoto</span>
        </label>
        <input id="UploadPicture" class="hide" type="file" name="files[]" data-multiple-caption="{count} notimplted" multiple="" aria-invalid="false">
    </div>
    @if (Person.Photos.Any())
    {
        <div class="col-md-12">
            <button id="DeletePhoto" class="btn btn-danger btn-edges sideslide" type="button">
                <span class="fas fa-trash"></span>
                <span class="toggle-text">@Localization.Delete</span>
            </button>
        </div>
    }
</div>

@code {
    public Person Person { get { return PersonDataService.Person; } }
}