@using WebAppFcc.Shared.Models
@namespace WebAppFcc.Client.Shared.Family
@inject IPersonDataService PersonDataService

<div class="card">
    <div class="card-header">
        <h2>
            <span class="fas fa-id-card"></span>
            @*@Resource.PassportView*@
        </h2>
    </div>
    <div class="card-body">
        <div class="row">
            @if (!Person.IsNewOrEmpty)
            {
                <div class="col-md-3">
                    <div class="row form-group">
                        <div class="col-md-12" id="PhotoSection">
                            <PhotoSection />
                        </div>
                    </div>
                </div>
            }
            <div class="col-md-@(!Person.IsNewOrEmpty ? 9 : 12)">
                <EditForm Model="Person">
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="@Person.Firstname">@*@Resource.Name*@</label>
                            <InputText @bind-Value="@Person.Firstname" class="form-control"></InputText>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="@Person.Lastname">@*@Resource.Lastname*@</label>
                            <InputText @bind-Value="@Person.Lastname" class="form-control"></InputText>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <label for="@Person.Patronym">@*@Resource.Patronym*@</label>
                            <InputText @bind-Value="@Person.Patronym" class="form-control"></InputText>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-12">
                            <div class="form-inline">
                                <label for="Sex_Checkbox_Male_Text">@*@Resource.Male*@</label>
                                <span class="text-male fas fa-mars padding-both-sides-15"></span>
                                <div class="custom-control custom-switch" @onclick="() => { PersonDataService.Person.Sex = !Person.Sex; }">
                                    <input type="checkbox" class="custom-control-input sexswitcher" @bind="@Person.Sex" />
                                    <label class="custom-control-label" for="Person_Sex"></label>
                                </div>
                                <span class="text-female fas fa-venus padding-both-sides-15"></span>
                                <label for="Sex_Checkbox_Female_Text">@*@Resource.Female*@</label>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6">
                            <div class="row form-group">
                                <div class="col-md-12 form-inline">
                                    <div class="custom-control custom-checkbox" @onclick="() => ToggleBirthDateField()">
                                        <input type="checkbox" class="custom-control-input" @bind="@ShowBirthDateField">
                                        <label class="custom-control-label" for="@Person.HasBirthDate">@*@Resource.BornTimeKnown*@</label>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    @if (ShowBirthDateField)
                                    {
                                        <InputDate @bind-Value="@Person.BirthDate" class="form-control"></InputDate>
                                    }
                                    else
                                    {
                                        <InputDate @bind-Value="@Person.BirthDate" class="form-control" readonly="readonly"></InputDate>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row form-group">
                                <div class="col-md-12 form-inline">
                                    <div class="custom-control custom-checkbox" @onclick="() => ToggleDeathDateField()">
                                        <input type="checkbox" class="custom-control-input" @bind="@ShowDeathDateField">
                                        <label class="custom-control-label" for="@Person.HasDeathDate">@*@Resource.DeadTimeKnown*@</label>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    @if (ShowDeathDateField)
                                    {
                                        <InputDate @bind-Value="@Person.DeathDate" class="form-control"></InputDate>
                                    }
                                    else
                                    {
                                        <InputDate @bind-Value="@Person.DeathDate" class="form-control" readonly="readonly"></InputDate>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="MarriageStatus">
                        @*@if (Model.Command == Shared.Enums.ActionCommand.Open)
                        {
                            @Html.Partial("Person/_MarriageSection",
                                 new Tuple<Person, Person, Person>(Model.Model, Model.MarriedOn, Model.PartnerOf))
                        }*@
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
    <div class="card-footer clearfix">
        <button class="btn crud btn-primary" type="button" @onclick="async () => await SavePerson()">
            <span class="glyphicon glyphicon-floppy-disk"></span>
            @*@Resource.Save*@
        </button>
    </div>
</div>

@code { 
    public Person Person { get { return PersonDataService.Person; } }
    public bool ShowBirthDateField { get; set; }
    public bool ShowDeathDateField { get; set; }

    private async Task SavePerson()
    {
        if (Person.IsNewOrEmpty)
        {
            await PersonDataService.AddPerson(Person);
        }
        else
        {
            await PersonDataService.UpdatePerson(Person);
        }
    }

    private void ToggleBirthDateField()
    {
        ShowBirthDateField = !ShowBirthDateField;
        if (!ShowBirthDateField)
        {
            PersonDataService.Person.BirthDate = null;
        }
        else
        {
            if (!PersonDataService.Person.BirthDate.HasValue)
                PersonDataService.Person.BirthDate = DateTime.Now;
        }

        StateHasChanged();
    }

    private void ToggleDeathDateField()
    {
        ShowDeathDateField = !ShowDeathDateField;
        if (!ShowDeathDateField)
        {
            PersonDataService.Person.DeathDate = null;
        }
        else
        {
            if (!PersonDataService.Person.DeathDate.HasValue)
                PersonDataService.Person.DeathDate = DateTime.Now;
        }

        StateHasChanged();
    }
}