@using Microsoft.AspNet.Identity
@using Resources

@{
    string lang = (string)Url.RequestContext.RouteData.Values["lang"] ?? string.Empty;
    string controller = (string)Url.RequestContext.RouteData.Values["controller"] ?? string.Empty;
    string action = (string)Url.RequestContext.RouteData.Values["action"] ?? string.Empty;
}

<ul class="navbar-nav justify-content-end">
    <li>
        <a id="ru" href="/ru-RU/@controller/@action"><span class="flag-icon flag-icon-ru @(lang == "ru-RU" ? "flag-selected" : string.Empty)"></span></a>
        <a id="de" href="/de-DE/@controller/@action"><span class="flag-icon flag-icon-de @(lang == "de-DE" ? "flag-selected" : string.Empty)"></span></a>
        <a id="us" href="/en-US/@controller/@action"><span class="flag-icon flag-icon-us @(lang == "en-US" ? "flag-selected" : string.Empty)"></span></a>
    </li>

    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "form-inline" }))
        {
            @Html.AntiForgeryToken()

            <li class="nav-item">
                @Html.ActionLink(Resource.Welcome + " " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "nav-link" })
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">
                    <span class="fas fa-sign-out-alt"></span>
                    @Resource.SignOut
                </a>
            </li>
        }
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" href="/Account/Register" id="registerLink">
                <span class="fas fa-key"></span>
                @Resource.Register
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Account/Login" id="loginLink">
                <span class="fas fa-sign-in-alt"></span>
                @Resource.SignIn
            </a>
        </li>
    }
</ul>