@using Resources
@{
    ViewBag.Title = Resource.IndexPageTitle;
}

<div class="jumbotron">
    <h1>@Resource.FCCApplicationNameShort</h1>
    <p class="lead">@Resource.FCCIndexWelcomeMessage</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>
            <i class="fas fa-id-card"></i>
            @Resource.PassportView
        </h2>
        <p>
            @Resource.PassportViewDescription
        </p>
        <p>
            <a class="btn btn-default" href="@Url.Action("Person", "Family")">
                @Resource.Goto @*&raquo;*@
                <i class="fas fa-angle-double-right"></i>
            </a>
        </p>
    </div>
</div>