@model RelationsUpdateStackViewModel
@{ 
    ViewBag.Title = Resource.PassportView;

    var personSl = Model.PersonList.Select(e =>
    {
        var sli = new SelectListItem()
        {
            Value = e.Key,
            Text = e.Value,
        };
        if (sli.Value == Model.PersonId)
            sli.Selected = true;

        return sli;
    });
    var personWithPossibleRelationsSl = Model.PersonsWithPossibleRelations.Select(e =>
    {
        return new SelectListItem()
        {
            Value = e.Key,
            Text = e.Value,
        };
    });
}

@Html.HiddenFor(m => m.PersonId)
@Html.HiddenFor(m => m.SelectedPersonIdWithRelations)

<div class="card">
    <div class="card-header">
        <h3>@Resource.MaybeRelativesOfMsg</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                @Html.DropDownListFor(m => m.PersonId, personSl, new { @class = "form-control" })
            </div>
            <div class="col-md-6">
                @Html.DropDownListFor(m => m.SelectedPersonIdWithRelations, personWithPossibleRelationsSl, new { @class = "form-control" })
            </div>
        </div>
        <div id="RelationsUpdateStackContainer">
            @Html.Partial("RelationsUpdateStack/_RelationsStack", Model.InitialRelations)
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/FormScripts/frm-relationsupdatestack.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            Window.Base.Init();
            Window.FormScripts.Init();
        });
    </script>
}