@model RelationsUpdateStackViewModel
<ul class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="/">
            <span class="fas fa-angle-double-left"></span>
            @Resource.GoToHome
        </a>
    </li>
    @if (!string.IsNullOrWhiteSpace(Model.PersonId))
    {
        <li class="breadcrumb-item">
            <a href="/@Url.RequestContext.RouteData.Values["lang"]/Family/PersonDetail?personId=@Model.PersonId">
                <span class="fas fa-angle-double-left"></span>
                @Resource.Back
            </a>
        </li>
    }
</ul>

<div id="StackContainer">
    @Html.Partial("RelationsUpdateStack/_PersonRelationsUpdateStack", Model)
</div>

<ul class="breadcrumb justify-content-end">
    <li class="breadcrumb-item">
        <a href="/">
            <span class="fas fa-angle-double-left"></span>
            @Resource.GoToHome
        </a>
    </li>
    @if (!string.IsNullOrWhiteSpace(Model.PersonId))
    {
        <li class="breadcrumb-item">
            <a href="/@Url.RequestContext.RouteData.Values["lang"]/Family/PersonDetail?personId=@Model.PersonId">
                <span class="fas fa-angle-double-left"></span>
                @Resource.Back
            </a>
        </li>
    }
</ul>

@section scripts
{
    <script src="~/Scripts/FormScripts/frm-relationsupdatestack.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            Window.Base.Init();
            Window.FormScripts.Init();
        });
    </script>
}