@{
    @model FamilyControlCenter.Viewmodels.Family.PersonListViewModel

    ViewBag.Title = "Личное дело";
}

@using (Html.BeginForm())
{
    <div class="panel">
        <div class="panel-heading">
            @Html.Partial("ToolsSharedViews/_DefaultToolBar")
        </div>
        <div class="panel-body">
            @foreach (var e in Model.Models)
            {
                <div class="row">
                    <div class="col-md-3">
                        @Html.Label(e.Lastname + " " + e.Name + (string.IsNullOrEmpty(e.Patronym) ? "" : " " + e.Patronym))
                    </div>
                    @if (e.BornTime != null)
                    {
                        <div class="col-md-3">
                            @Html.Label("BornTime", ((DateTime)e.BornTime).ToString("dd.MM.yyyy"))
                        </div>
                    }

                    @if (e.DeadTime != null)
                    {
                        <div class="col-md-3">
                            @Html.Label("DeadTime", ((DateTime)e.DeadTime).ToString("dd.MM.yyyy"))
                        </div>
                    }

                    <div class="col-md-3">
                        @Html.Partial("ToolsSharedViews/_DefaultCRUD", e)
                    </div>
                </div>
            }
        </div>
    </div>
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            Windows.Base.Init();
        });
    </script>
}
