@model PersonViewModel
@{
    ViewBag.Title = Resource.PassportView;
}

@using (Html.BeginForm("Person", "Family", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <!-- BEGIN HIDDEN FIELD AREA -->
    @Html.HiddenFor(m => m.Model.Id)
    @Html.HiddenFor(m => m.Command)
    @Html.HiddenFor(m => m.State)
    <!-- END HIDDEN FIELD AREA -->

    if (Model.State == VmState.List)
    {
        <ul class="breadcrumb">
            <li>
                <a href="/">
                    <i class="fas fa-angle-double-left"></i>
                    @Resource.GoToHome
                </a>
            </li>
        </ul>
        @Html.Partial("Person/_PersonList", Model)
        <a href="/" class="pull-right">
            <i class="fas fa-angle-double-left"></i>
            @Resource.GoToHome
        </a>
    }
    else
    {
        <ul class="breadcrumb">
            <li>
                <a href="/">
                    <i class="fas fa-angle-double-left"></i>
                    @Resource.GoToHome
                </a>
            </li>
            <li>
                <a href="/@Url.RequestContext.RouteData.Values["lang"]/Family/Person">
                    <i class="fas fa-angle-double-left"></i>
                    @Resource.Back
                </a>
            </li>
        </ul>

        <ul class="nav nav-tabs">
            <li class="nav-item active">
                <a class="nav-link" modified="false" href="#passport" id="passport-tab" data-toggle="tab" role="tab" aria-controls="passport" aria-selected="true" aria-expanded="true">
                    @Resource.PassportView
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" modified="false" href="#relations" id="relations-tab" data-toggle="tab" role="tab" aria-controls="relations" aria-selected="true">
                    @Resource.PersonRelations
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" modified="false" href="#names" id="names-tab" data-toggle="tab" role="tab" aria-controls="names" aria-selected="true">
                    @Resource.PreviousNames
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" modified="false" href="#biography" id="biography-tab" data-toggle="tab" role="tab" aria-controls="biography" aria-selected="true">
                    @Resource.Biography
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" modified="false" href="#documents" id="documents-tab" data-toggle="tab" role="tab" aria-controls="documents" aria-selected="true">
                    @Resource.Documents
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="passport" role="tabpanel" aria-labelledby="passport-tab">
                @Html.Partial("Person/_PersonDetail", Model)
            </div>
            <div class="tab-pane" id="relations" role="tabpanel" aria-labelledby="relations-tab">
                @*@Html.Partial("Person/_PersonRelations", Model.PersonRelations, new ViewDataDictionary() { new KeyValuePair<string, object>("PersonId", Model.Model.Id) })*@
            </div>
            <div class="tab-pane" id="names" role="tabpanel" aria-labelledby="names-tab">
                @*@Html.Partial("Person/_PersonNames", Model.PersonNames)*@
            </div>
            <div class="tab-pane" id="biography" role="tabpanel" aria-labelledby="biography-tab">
                @*@Html.Partial("Person/_PersonBiography", Model.PersonBiography)*@
            </div>
            <div class="tab-pane" id="documents" role="tabpanel" aria-labelledby="documents-tab">
                @*@Html.Partial("Person/_PersonDocuments", new List<FileContent>())*@
            </div>
        </div>

        <a href="/@Url.RequestContext.RouteData.Values["lang"]/Family/Person" class="pull-right">
            <i class="fas fa-angle-double-left"></i>
            @Resource.Back
        </a>
    }
}

@section scripts
{
    <script src="~/Scripts/FormScripts/frm-person.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            Window.Base.Init();
            Window.FormScripts.Init();
            Window.DatePicker.Init();
            Window.CustomizedTypeahead.Init();
        });
    </script>
}
