@using FamilyControlCenter.Common
@{
    @model FamilyControlCenter.Viewmodels.Family.PersonViewModel
}

<div class="btn-group">
    @if (Model.Command == ActionCommand.Create)
    {
        <button class="btn crud" type="button" args="@((int)ActionCommand.Add)" obj="@Model.Model.Id">
            <i class="glyphicon glyphicon-ok"></i>
        </button>
    }
    else if (Model.Command == ActionCommand.Edit)
    {
        if (!string.IsNullOrWhiteSpace(Model.Model.Id))
        {
            <button class="btn crud" type="button" args="@((int)ActionCommand.Update)" obj="@Model.Model.Id">
                <i class="glyphicon glyphicon-ok"></i>
            </button>
            <button class="btn crud" type="button" args="@((int)ActionCommand.Delete)" obj="@Model.Model.Id">
                <i class="glyphicon glyphicon-trash"></i>
            </button>
        }
    }
    <button class="btn crud" type="button" args="@((int)ActionCommand.None)" obj="@Model.Model.Id">
        <i class="glyphicon glyphicon-remove"></i>
    </button>
</div>
