@using Shared.Enums
@{
    @model Shared.Common.BaseModel
}

@*<button class="btn crud" type="button" args="1" obj="@Model.Model.Id">
        <span class="glyphicon glyphicon-plus-sign"></span>
    </button>*@
@*<button class="btn crud" type="button" args="copy" obj="@Model.Model.Id">
            <span class="glyphicon glyphicon-file"></span>
    </button>*@
<button class="btn btn-xs crud btn-light" type="button" args="@((int)ActionCommand.Open)" obj="@Model.Id">
    <span class="fas fa-pen"></span>
</button>
<button class="btn btn-xs crud btn-danger" type="button" args="@((int)ActionCommand.Delete)" obj="@Model.Id">
    <span class="fas fa-trash-alt"></span>
</button>


