@model Tuple<Person, Person, Person>

@{
    var person = Model.Item1;
    var marriedOn = Model.Item2;
    var partner = Model.Item3;
}

<div class="row">
    <div class="col-md-12">
        <label>
            @if (person.IsMarried)
            {
            <span class="fas fa-ring text-success"></span>
                @(Shared.Helpers.FccEnumHelper.GetGenderizedText("MarriedMale|MarriedFemale", person.Sex))
                @*@Html.Hidden("MarriedOn_Id", marriedOn.Id)*@
                <a href="PersonDetail?personId=@marriedOn.Id">@marriedOn.Name</a>

                <a href="#" id="RemoveSpouse" inviter="@person.Id" invited="@marriedOn.Id" reltype="@((int)RelationType.HusbandWife)">
                    <span id="RemoveSpouse" class=" fas fa-trash text-danger"></span>
                </a>
            }
            else
            {
                <span class="fas fa-ring"></span>
                @Shared.Helpers.FccEnumHelper.GetGenderizedText("NotMarriedMale|NotMarriedFemale", person.Sex)

                <a href="#" id="AddSpouse" reltype="@((int)RelationType.HusbandWife)" data-toggle="modal" data-target="#NewSpouseModal">
                    <span class="fas fa-user-plus text-success"></span>
                </a>
            }
        </label>
    </div>
</div>

@if (!person.IsMarried)
{
    <div class="row">
        <div class="col-md-12">
            <label>
                @if (person.IsInPartnership)
                {
                    <span class="fas fa-ring text-success"></span>
                    @Resource.InLivePartnershipWith
                    @*@Html.Hidden("MarriedOn_Id", marriedOn.Id)*@
                    <a href="PersonDetail?personId=@partner.Id">@partner.Name</a>

                    <a href="#" id="RemoveSpouse" inviter="@person.Id" invited="@partner.Id" reltype="@((int)RelationType.LivePartner)">
                        <span id="RemoveSpouse" class=" fas fa-trash text-danger"></span>
                    </a>
                }
                else
                {
                    <span class="fas fa-venus-mars"></span>
                    @Resource.NotInLivePartnership

                    <a href="#" id="AddSpouse" reltype="@((int)RelationType.LivePartner)" data-toggle="modal" data-target="#NewSpouseModal">
                        <span class="fas fa-user-plus text-success"></span>
                    </a>
                }
            </label>
        </div>
    </div>
}

<div class="modal fade" id="NewSpouseModal" tabindex="-1" role="dialog" aria-labelledby="NewSpouseModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @*<h5 class="modal-title" id="NewSpouseLabel">@Resource.AddRelation</h5>*@
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                @Html.Raw(@Resource.MarriageSectionWarning)
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-md-12">
                        @Html.Hidden("NewSpouseId", "")
                        @Html.TextBox("NewSpouseName", "", new { @class = "form-control typeahead", placeholder = "", taname = "PersonTypeahead", taurl = "typeahead/person/" + person.Id + "/" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resource.Close</button>
            </div>
        </div>
    </div>
</div>