@model Tuple<Person, Person, Person>

@{
    var person = Model.Item1;
    var marriedOn = Model.Item2;
    var partner = Model.Item3;
}

<div class="row">
    <div class="col-md-12">
        <label>
            @if (person.IsMarried)
            {
                <span class="fas fa-ring text-success"></span>
                @(Shared.Helpers.FccEnumHelper.GetGenderizedText("MarriedMale|MarriedFemale", person.Sex))
                @*@Html.Hidden("MarriedOn_Id", marriedOn.Id)*@
                <a href="PersonDetail?personId=@marriedOn.Id">@marriedOn.Name</a>

                <a href="#" id="RemoveSpouse" inviter="@person.Id" invited="@marriedOn.Id" reltype="@((int)RelationType.HusbandWife)">
                    <span id="RemoveSpouse" class=" fas fa-user-minus text-danger"></span>
                </a>
            }
            else
            {
                <span class="fas fa-ring"></span>
                @Shared.Helpers.FccEnumHelper.GetGenderizedText("NotMarriedMale|NotMarriedFemale", person.Sex)

                <a href="#" id="AddSpouse" reltype="@((int)RelationType.HusbandWife)">
                    <span class="fas fa-user-plus text-success"></span>
                </a>
                <a href="#" id="HideSpouseContainer" class="hide">
                    <span class="fas fa-user-minus text-danger"></span>
                </a>
            }
        </label>
    </div>
</div>
<div id="SpouseContainer" class="row hide">
    <div class="col-md-12">
        @Html.Hidden("NewSpouseId", "")
        @Html.TextBox("NewSpouseName", "", new { @class = "form-control typeahead", placeholder = "", taname = "PersonTypeahead", taurl = "typeahead/person/" + person.Id + "/" })
    </div>
</div>

@if (!person.IsMarried)
{
    <div class="row">
        <div class="col-md-12">
            <label>
                @if (person.IsInPartnership)
                {
                    <span class="fas fa-venus-mars text-success"></span>
                    @Resource.InLivePartnershipWith
                    <a href="PersonDetail?personId=@partner.Id">@partner.Name</a>

                    <a href="#" id="RemoveSpouse" inviter="@person.Id" invited="@partner.Id" reltype="@((int)RelationType.LivePartner)">
                        <span id="RemoveSpouse" class=" fas fa-user-minus text-danger"></span>
                    </a>
                }
                else
                {
                    <span class="fas fa-venus-mars"></span>
                    @Resource.NotInLivePartnership

                    <a href="#" id="AddPartner" reltype="@((int)RelationType.LivePartner)">
                        <span class="fas fa-user-plus text-success"></span>
                    </a>
                    <a href="#" id="HidePartnerContainer" class="hide">
                        <span class="fas fa-user-minus text-danger"></span>
                    </a>
                }
            </label>
        </div>
    </div>
    <div id="PartnerContainer" class="row hide">
        <div class="col-md-12">
            @Html.Hidden("NewPartnerId", "")
            @Html.TextBox("NewPartnerName", "", new { @class = "form-control typeahead", placeholder = "", taname = "PersonTypeahead", taurl = "typeahead/person/" + person.Id + "/" })
        </div>
    </div>
}