@using Resources
@{
    @model FamilyControlCenter.Viewmodels.Family.PersonViewModel
}

<div class="panel">
    <div class="panel-heading"></div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(m => m.Model.Firstname, Resource.Name)
                @Html.TextBoxFor(m => m.Model.Firstname, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(m => m.Model.Lastname, Resource.Lastname)
                @Html.TextBoxFor(m => m.Model.Lastname, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(m => m.Model.Patronym, Resource.Patronym)
                @Html.TextBoxFor(m => m.Model.Patronym, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(m => m.Model.HasBirthDate, Resource.BornTimeKnown)
                @Html.CheckBoxFor(m => m.Model.HasBirthDate, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.HiddenFor(m => m.Model.BirthDate)
                @Html.TextBox("DpBornTime", Model.Model.BirthDate, "{0:dd.MM.yyyy}", new { @class = "datepicker form-control hide" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.LabelFor(m => m.Model.HasDeathDate, Resource.DeadTimeKnown)
                @Html.CheckBoxFor(m => m.Model.HasDeathDate, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @Html.HiddenFor(m => m.Model.DeathDate)
                @Html.TextBox("DpDeadTime", Model.Model.DeathDate, "{0:dd.MM.yyyy}", new { @class = "datepicker form-control hide" })
            </div>
        </div>

        <div class="panel">
            <div class="panel-heading"></div>
            <div class="panel-body">
                @Html.Partial("Person/_RelationsList", Model)
            </div>
            <div class="panel-footer">
                @Html.Partial("Person/_RelationModal", Model)
            </div>
        </div>

        @*@Html.Partial("Person/_AccordionPerson", Model)*@
    </div>
    <div class="panel-footer">
        @Html.Partial("ToolsSharedViews/_DefaultSaveCancelDelete", Model)
    </div>
</div>
