@model PersonDocumentsViewModel

<div class="card">
    <div class="card-header">
        <h2>
            <span class="fas fa-file-alt"></span>
            @Resource.Documents
        </h2>
        <div class="row form-group">
            <div class="col-md-12 form-inline">
                <label class="padding-both-sides-15">@Resource.Activities</label>
                <div class="custom-control custom-switch">
                    @Html.CheckBoxFor(m => m.LoadCategories, new { @class = "custom-control-input" })
                    <label class="custom-control-label" for="LoadCategories"></label>
                </div>
                <label class="padding-both-sides-15">@Resource.Categories</label>
            </div>
        </div>
    </div>
    <div id="DocumentsBody" class="card-body">
            @foreach (var filesKvp in Model.Documents)
            {
                var files = filesKvp.Value;

                <div class="card">
                    <div class="card-header">
                        @filesKvp.Key
                    </div>
                    <div class="card-body">
                        <div class="card-columns">
                            @foreach (var file in files)
                            {
                                <div class="card">
                                    <div class="card-header fullwidth">
                                        <a href="#" id="DeleteDocument" fileid="@file.Id"><span class="text-danger fas fa-trash-alt"></span></a>
                                    </div>
                                    <div class="card-body">
                                        @if (ContentTypeHelper.IsDocument(file.FileType))
                                        {
                                            <img class="thumbnail" src="~/Content/file-image.png" alt="" />
                                        }
                                        else if (ContentTypeHelper.IsVideo(file.FileType))
                                        {
                                            <img class="thumbnail" src="~/Content/file-image.png" alt="" />
                                        }
                                        else if (ContentTypeHelper.IsSound(file.FileType))
                                        {
                                            <img class="thumbnail" src="~/Content/sound-image.png" alt="" />
                                        }
                                        else if (ContentTypeHelper.IsImage(file.FileType))
                                        {
                                            string img64 = Convert.ToBase64String(file.BinaryContent);
                                            string img64Url = string.Format("data:image/" + file.FileType + ";base64,{0}", img64);
                                            <img class="thumbnail" src="@img64Url" alt="" />
                                        }
                                        <label>@file.Name</label>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            }
    </div>
    <div class="card-footer clearfix">
        <div class="col-md-12">
            <span id="ErrorDocumentCategory" class="text-danger hide">
                @Resource.ErrorDocumentCategoryEmpty
            </span>
        </div>
        <div class="col-md-12">
            <div class="input-group">
                <span class="input-group-addon">@Resource.Category</span>
                @Html.Hidden("DocumentCategory")
                @Html.TextBox("DocumentCategoryTa", "", new { @class = "form-control typeahead", placeholder = "", taname = "DocumentCategoryTa", taurl = "document/categories/" })
                <label for="UploadFile" class="btn btn-primary btn-edges input-group-addon">
                    <span class="fas fa-file-upload"></span>
                    <span class="toggle-text">@Resource.BtnUploadFile</span>
                </label>
                <input id="UploadFile" class="hide" type="file" name="files[]" data-multiple-caption="{count} notimplted" multiple="" aria-invalid="false">
            </div>
        </div>
    </div>
</div>