@model List<PersonName>

<div class="card">
    <div class="card-header">
        <h2>
            <i class="fas fa-signature"></i>
            @Resource.PreviousNames
        </h2>
    </div>
    <div class="card-body">
        <div class="well well-lg clearfix">
            <div class="row form-group">
                <div class="col-md-6">
                    @Html.Label("NewName", Resource.Name)
                    @Html.TextBox("NewName", "", new { @class = "form-control" })
                </div>
                <div class="col-md-6">
                    @Html.Label("NewLastname", Resource.Lastname)
                    @Html.TextBox("NewLastname", "", new { @class = "form-control" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-6">
                    @Html.Label("NewPatronym", Resource.Patronym)
                    @Html.TextBox("NewPatronym", "", new { @class = "form-control" })
                </div>
                <div class="col-md-6">
                    @Html.Label("ActiveFrom", Resource.PersonNameWasActiveFrom)
                    @Html.TextBox("ActiveFrom", DateTime.Now, "{0:dd.MM.yyyy}", new { placeholder = Resource.EmptyDatePlaceholder, @class = "datepicker form-control" })
                </div>
            </div>
            <label id="PersonNameAddingErrorMsg" class="text-danger hide">@Resource.PersonNameCouldNotBeAdded</label>
            <div>
                <button id="SaveNamesAndPatronym" type="button" class="btn btn-primary pull-right">
                    <i class="glyphicon glyphicon-plus-sign"></i>
                    @Resource.Add
                </button>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="card-deck">
            @foreach (var name in Model)
            {
                <div class="card">
                    <div class="card-header d-inline-flex">
                        <div class="col-md-10">
                            @name.Name
                        </div>
                        <div class="col-md-2">
                            <button id="DeletePersonName" nameid="@name.Id" type="button" class="btn btn-danger pull-right">
                                <em class="fas fa-trash-alt"></em>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col-md-12">
                            @Resource.Changed
                            @name.DateNameChanged.ToString("dd.MM.yyyy")
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>