@*@using Shared.Models*@
@model PersonBiographyViewModel

@Html.HiddenFor(m => m.PersonBiography.Id)
@Html.HiddenFor(m => m.PersonBiography.PersonId)
@Html.HiddenFor(m => m.PersonBiography.DateModified)
@Html.HiddenFor(m => m.PersonBiography.DateCreated)
@Html.HiddenFor(m => m.PersonBiography.IsActive)
<div class="card">
    <div class="card-header">
        <h2>
            <span class="fas fa-pencil-alt"></span>
            @Resource.Biography
        </h2>
    </div>
    <div class="card-body">
        <div class="col-md-12 form-group">
            <button id="AddActivity" type="button" class="btn btn-primary">
                <span class="fas fa-plus"></span>
                @Resource.Add
            </button>
        </div>
        <div id="PersonActivityEditBlock"></div>

        <div class="card-columns">
            @foreach (var activityGroup in Model.Activities)
            {
                foreach (var activity in activityGroup.Value)
                {
                    @Html.Partial("Person/_PersonActivity", activity)               
                }
            }
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                @Html.LabelFor(m => m.PersonBiography.BiographyText, Resource.Biography)
                @Html.TextAreaFor(m => m.PersonBiography.BiographyText, new { @class = "form-control" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <button id="SaveBiography" type="button" class="btn btn-primary">
                    <span class="fas fa-save"></span>
                    @Resource.Save
                </button>
            </div>
        </div>
    </div>
</div>