@*@using Shared.Models*@
@model PersonBiographyViewModel

@{
    var typeList = FccEnumHelper.GetTranslatedSelectListItemCollection<ActivityType>(typeof(ActivityType));
}

@Html.HiddenFor(m => m.PersonBiography.Id)
@Html.HiddenFor(m => m.PersonBiography.PersonId)
@Html.HiddenFor(m => m.PersonBiography.DateModified)
@Html.HiddenFor(m => m.PersonBiography.DateCreated)
@Html.HiddenFor(m => m.PersonBiography.IsActive)
<div class="card">
    <div class="card-header">
        <h2>
            <i class="fas fa-pencil-alt"></i>
            @Resource.Biography
        </h2>
    </div>
    <div class="card-body">
        <div class="row form-group">
            <div class="col-md-4">
                @Html.DropDownList("NewActivityActivityType", typeList, new { @class = "form-control" })
            </div>
            <div class="col-md-1">
                <div class="custom-control custom-checkbox">
                    @Html.CheckBox("NewHasBegun", true, new { @class = "custom-control-input" })
                    @Html.Label("NewHasBegun", "Begun", new { @class = "custom-control-label" })
                </div>
            </div>
            <div class="col-md-3">
                @Html.TextBox("NewActivityDateBegin", DateTime.Now, "{0:dd.MM.yyyy}", new { placeholder = Resource.EmptyDatePlaceholder, @class = "form-control datepicker" })
            </div>
            <div class="col-md-1">
                <div class="custom-control custom-checkbox">
                    @Html.CheckBox("NewHasEnded", false, new { @class = "custom-control-input" })
                    @Html.Label("NewHasEnded", "Ended", new { @class = "custom-control-label" })
                </div>
            </div>
            <div class="col-md-3">
                @Html.TextBox("NewActivityDateEnd", null, "{0:dd.MM.yyyy}", new { placeholder = Resource.EmptyDatePlaceholder, @class = "form-control datepicker", @readonly = "readonly" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                @Html.TextArea("NewActivityActivity", string.Empty, new { @class = "form-control" })
            </div>
        </div>
        <div class="row form-group clearfix">
            <div class="col-md-12">
                <button id="SaveActivity" type="button" class="btn btn-primary">
                    <i class="fas fa-plus"></i>
                    @Resource.Add
                </button>
            </div>
        </div>

        <div class="card-deck">
            @foreach (var activityGroup in Model.Activities)
            {
                foreach (var activity in activityGroup.Value)
                {
                    @Html.Partial("Person/_PersonActivity", activity)
                }
            }
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                @Html.LabelFor(m => m.PersonBiography.BiographyText, Resource.Biography)
                @Html.TextAreaFor(m => m.PersonBiography.BiographyText, new { @class = "form-control" })
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-12">
                <button id="SaveBiography" type="button" class="btn btn-primary">
                    <span class="fas fa-save"></span>
                    @Resource.Save
                </button>
            </div>
        </div>
    </div>
</div>