@{
    @model Shared.Viewmodels.PersonViewModel
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h2>
            <i class="fas fa-id-card"></i>
            @Resources.Resource.PassportView
        </h2>

        @Html.Partial("Person/_PersonListPaging", Model.Paging)
    </div>
    <div class="panel-body">
        @for (int i = 0; i < Model.Models.Count; i++)
        {
            var e = Model.Models[i];
            string birthDateString = e.BirthDate == null ? null : e.BirthDate.Value.ToString("dd.MM.yyyy");
            string deathDateString = e.DeathDate == null ? null : e.DeathDate.Value.ToString("dd.MM.yyyy");

            <div class="row item">
                <div class="col-md-1 form-inline">
                    <div class="checkbox">
                        <input type="checkbox" id="Person_@i" value="true">
                        <label for="Person_@i"></label>
                        <input type="hidden" value="false">
                    </div>

                    @if (!string.IsNullOrWhiteSpace(e.FileContentId))
                    {
                        <img class="icon" src="" uri="@(Globals.ApiRoute)person/photo/get/@(e.FileContentId)" alt="" />
                    }
                    else
                    {
                        <img class="icon" src="~/Content/no-image-available.jpg" alt="No image avaible" />
                    }
                </div>
                <div class="col-md-1 col-sm-3 col-xs-2">
                    @if (e.Sex)
                    {
                        <i class="text-female fas fa-venus"></i>
                    }
                    else
                    {
                        <i class="text-male fas fa-mars"></i>
                    }
                    @if (e.IsMarried)
                    {
                        <i class="fas fa-ring text-success"></i>
                    }
                    else
                    {
                        <i class="fas fa-ring"></i>
                    }
                </div>
                <div class="col-md-9 col-sm-8 col-xs-8">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        @e.Name
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-4">
                        @(birthDateString ?? Resources.Resource.BornTimeNotKnown)
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-4">
                        @(deathDateString ?? Resources.Resource.DeadTimeNotKnown)
                    </div>
                </div>
                <div class="col-md-1 col-sm-1 col-xs-2">
                    @Html.Partial("ToolsSharedViews/_DefaultCRUD", e)
                </div>
            </div>
        }
    </div>
    <div class="panel-footer clearfix">
        @Html.Partial("ToolsSharedViews/_DefaultToolBar")
    </div>
</div>

