@{
    @model Shared.Viewmodels.PersonViewModel
}

@using (Html.BeginForm("Person", "Family", FormMethod.Post, new { id = "PersonView" }))
{
    @Html.AntiForgeryToken()

    <!-- BEGIN HIDDEN FIELD AREA -->
    @Html.HiddenFor(m => m.Model.Id)
    @Html.HiddenFor(m => m.Command)
    @Html.HiddenFor(m => m.State)
    <!-- END HIDDEN FIELD AREA -->

    <div class="card">
        <div class="card-header">
            <h2>
                <span class="fas fa-id-card"></span>
                @Resources.Resource.PassportView
            </h2>

            @Html.Partial("Person/_PersonListPaging", Model.Paging)
        </div>
        <div class="card-body">
            @for (int i = 0; i < Model.Models.Count(); i++)
            {
                var e = Model.Models.ElementAt(i);
                string birthDateString = e.BirthDate == null ? null : e.BirthDate.Value.ToString("dd.MM.yyyy");
                string deathDateString = e.DeathDate == null ? null : e.DeathDate.Value.ToString("dd.MM.yyyy");

                <div class="row item">
                    <div class="col-md-1">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="Person_@i" name="Person_@i">
                            <label class="custom-control-label" for="Person_@i"></label>
                        </div>
                    </div>
                    <div class="col-md-1">
                        @if (!string.IsNullOrWhiteSpace(e.FileContentId))
                        {
                            <img class="icon" src="@Model.PersonIcons[e.Id]" alt="" />
                        }
                        else
                        {
                            <img class="icon" src="~/Content/no-image-available.jpg" alt="No image avaible" />
                        }
                    </div>
                    <div class="col-md-1">
                        @if (e.Sex)
                        {
                            <i class="text-female fas fa-venus"></i>
                        }
                        else
                        {
                            <i class="text-male fas fa-mars"></i>
                        }
                        @if (e.IsMarried)
                        {
                            <i class="fas fa-ring text-success"></i>
                        }
                        else if (e.IsInPartnership)
                        {
                            <i class="fas fa-venus-mars text-success"></i>
                        }
                        else
                        {
                            <i class="fas fa-ring"></i>
                        }
                    </div>
                    <div class="col-md-3">
                        @e.Name
                    </div>
                    <div class="col-md-2">
                        @(birthDateString ?? Resources.Resource.BornTimeNotKnown)
                    </div>
                    <div class="col-md-2">
                        @(deathDateString ?? Resources.Resource.DeadTimeNotKnown)
                    </div>
                    <div class="col-md-2">
                        @Html.Partial("ToolsSharedViews/_DefaultCRUD", e)
                    </div>
                </div>
            }
        </div>
        <div class="card-footer clearfix">
            @Html.Partial("ToolsSharedViews/_DefaultToolBar")
        </div>
    </div>
}

