@{
    @model Shared.Viewmodels.PersonViewModel
}

<div class="panel">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
        @foreach (var e in Model.Models)
        {
            string birthDateString = e.BirthDate == null ? null : e.BirthDate.Value.ToString("dd.MM.yyyy");
            string deathDateString = e.DeathDate == null ? null : e.DeathDate.Value.ToString("dd.MM.yyyy");

            <div class="row">
                <div class="col-md-3">
                    @e.Name
                </div>
                <div class="col-md-3">
                    @(birthDateString ?? "Д/Р неизвестна")
                </div>
                <div class="col-md-3">
                    @(deathDateString ?? "Д/С неизвестна")
                </div>
                <div class="col-md-3">
                    @Html.Partial("ToolsSharedViews/_DefaultCRUD", e)
                </div>
            </div>
        }
    </div>
    <div class="panel-footer">
        @Html.Partial("ToolsSharedViews/_DefaultToolBar")
    </div>
</div>

