@using FamilyControlCenter.Helpers
@using Shared.Enums
@using Resources
@model Shared.Viewmodels.Family.PersonViewModel
@{
    var culture = System.Threading.Thread.CurrentThread.CurrentCulture;
    var personSl = Model.PersonSelectionList.Select(e => new SelectListItem() { Text = e.Value, Value = e.Key });
    var relationTypeSl = FccEnumHelper.GetTranslatedSelectListItemCollection(typeof(RelationType));
}

<button data-toggle="modal" data-target="#NewRelationModal" class="btn btn-primary" type="button">
    <i class="glyphicon glyphicon-plus"></i>
</button>

<div class="modal fade" id="NewRelationModal" tabindex="-1" role="dialog" aria-labelledby="NewRelationModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Resource.AddRelation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Html.Hidden("NewRelationOwnerId", Model.Model.Id, new { @class = "form-control" })
                @Html.DropDownList("NewRelationPersonId", personSl, new { @class = "form-control" })
                @Html.DropDownList("NewRelationRelationTypeId", relationTypeSl, new { @class = "form-control" })
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resource.Close</button>
                <button id="SaveRelation" type="button" class="btn btn-primary" data-dismiss="modal">@Resource.Save</button>
            </div>
        </div>
    </div>
</div>
