@using Shared.Helpers
@using Shared.Enums
@using Resources
@model Shared.Models.Person

<button data-toggle="modal" data-target="#NewRelationModal" class="btn btn-primary pull-right" type="button">
    <i class="glyphicon glyphicon-plus"></i>
    @Resource.AddRelation
</button>

<div class="modal fade" id="NewRelationModal" tabindex="-1" role="dialog" aria-labelledby="NewRelationModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@Resource.AddRelation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-md-12">
                        @Html.Hidden("NewRelationPersonId", "")
                        @Html.TextBox("NewRelationPersonName", "", new { @class = "form-control typeahead", placeholder = "", taname = "PersonTypeahead", taurl = "typeahead/person/" + Model.Id + "/" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        @Html.DropDownList("NewRelationRelationTypeId", new List<SelectListItem>(), new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="SaveRelation" type="button" class="btn btn-primary" data-dismiss="modal">@Resource.Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Resource.Close</button>
            </div>
        </div>
    </div>
</div>
