@using Shared.Enums
@{
    @model Shared.Viewmodels.Family.PersonViewModel
}

@foreach (var group in Model.Relations)
{
    foreach (var relation in group.Members)
    {
        <div class="row">
            <div class="col-md-10">
                @relation.Member.Lastname @relation.Member.Name @relation.Member.Patronym @group.RelationTypeId.ToString()
            </div>
            <div class="col-md-2">
                <button id="DestroyRelation" relation-id="@relation.Id" type="button" class="btn btn-secondary" data-dismiss="modal">
                    <i class="glyphicon glyphicon-trash"></i>
                </button>
            </div>
        </div>
    }
}
