@page "/person"
@using Microsoft.AspNetCore.Authorization
@using WebAppFcc.Shared.Enums
@using WebAppFcc.Shared.Models
@using WebAppFcc.Client.Shared.Family
@attribute [Authorize(Roles = "User")]
@implements IDisposable
@inject IPersonDataService PersonDataService

@if (ViewState == VmState.List)
{
    <PersonList />
}
else
{
    <ul class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#" @onclick="@(() => PersonDataService.LoadPersonList(true))" @onclick:preventDefault="true" @onclick:stopPropagation="true">
                <span class="fas fa-angle-double-left"></span>
                @Resource.GoToHome
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="#" @onclick="@(() => PersonDataService.LoadPersonList())" @onclick:preventDefault="true" @onclick:stopPropagation="true">
                <span class="fas fa-angle-double-left"></span>
                @Resource.Back
            </a>
        </li>
    </ul>

    @if (Person?.IsNewOrEmpty == true)
    {
        <PersonDetail />
    }
    else
    {
        <ul class="nav nav-tabs nav-justified">
            <li class="nav-item">
                <a class="nav-link active" modified="false" href="#passport" id="passport-tab" data-toggle="tab" role="tab" aria-controls="passport" aria-selected="true" aria-expanded="true">
                    @Resource.PassportView
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" modified="false" href="#relations" id="relations-tab" data-toggle="tab" role="tab" aria-controls="relations" aria-selected="true">
                    @Resource.PersonRelations
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" modified="false" href="#names" id="names-tab" data-toggle="tab" role="tab" aria-controls="names" aria-selected="true">
                    @Resource.PreviousNames
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" modified="false" href="#biography" id="biography-tab" data-toggle="tab" role="tab" aria-controls="biography" aria-selected="true">
                    @Resource.Biography
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" modified="false" href="#documents" id="documents-tab" data-toggle="tab" role="tab" aria-controls="documents" aria-selected="true">
                    @Resource.Documents
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="passport" role="tabpanel" aria-labelledby="passport-tab">
                <PersonDetail />
            </div>
            <div class="tab-pane" id="relations" role="tabpanel" aria-labelledby="relations-tab">
            </div>
            <div class="tab-pane" id="names" role="tabpanel" aria-labelledby="names-tab">
            </div>
            <div class="tab-pane" id="biography" role="tabpanel" aria-labelledby="biography-tab">
            </div>
            <div class="tab-pane" id="documents" role="tabpanel" aria-labelledby="documents-tab">
            </div>
        </div>
    }

    <ul class="breadcrumb justify-content-end">
        <li class="breadcrumb-item">
            <a href="#" @onclick="@(() => PersonDataService.LoadPersonList())" @onclick:preventDefault="true" @onclick:stopPropagation="true">
                <span class="fas fa-angle-double-left"></span>
                @Resource.Back
            </a>
        </li>
    </ul>
}

@code { 
    public VmState ViewState { get { return PersonDataService.ViewState; } }
    public Person Person { get { return PersonDataService.Person; } }

    protected override void OnInitialized()
    {
        PersonDataService.Init(StateHasChanged);
    }

    public void Dispose()
    {
        PersonDataService.OnChange -= StateHasChanged;
    }
}
